	/* TODA LA PAGINA */	
	*{
		margin: 0;
		padding: 0;
	}
		/* CUERPO DE LA PAGINA */
		body{
			background-image:url('Fondo1.jpg');
			background-size:cover;
			background-repeat:repeat;
			background-attachment:fixed;
			overflow:auto;
			min-height:400px;
			min-width: 1024px;
		}
		.botones{
			cursor:pointer;
		}
			/* CABECERA DE LA PAGINA */
			#cabecera{
				background-image:url('Fondo4.jpg');
				background-size:cover;
				background-repeat:repeat;
				background-attachment:fixed;
				position: absolute;
				z-index:4;
				left: 0.1%;
				height: 12.5%;
				width: 99.5%;
				min-height:50px;
				min-width: 1024px;
				overflow:hidden;
				border: 3px groove #FFCCFF;
				border-width:3px;
				Font-size:normal;
				font-family:Georgia,"Times New Roman",Serif;
				color: #610B38;
			}
				/* BARRA DE BUSQUEDA RAPIDA */	
				#barrabusqueda{
					position: absolute;
					left:30%;
					top:25%;
					cursor:pointer;
				}
				#BusRapBot{
					cursor:pointer;
				}
				/* CONTROL DE SESIONES */
				#Bsesiones{
					list-style-type:none;
					text-align:center;						
					font-weight:bold;
					font-size:100%;	
					color: #610b38;
				}
				#sesiones{
					position: absolute;
					top:15%;
					right:4%;			
					overflow:hidden;
					list-style-type:none;
					text-align:center;						
					font-weight:bold;
					font-size:100%;	
					color: #610b38;
				}
				#sesiones li a:link,a:visited{
					display:block;
					height:30%;
					width:100%;
					color: #610b38;
					text-decoration:none;
				}
				#sesiones li a:hover,a:active{
					cursor:pointer;
					text-transform:uppercase;
					color: #2A0A1B;
				}
				#carrito {
					color: #610b38;
				}
				/* LOGO COOKBOOK */
				#imglogo{
					position:absolute;
					bottom:115%;
					height: 50%;
					width: 30%;
				}
			/* CUERPO DE LA PAGINA */
			#cuerpo{
				position: absolute;
				z-index:4;
				top:14%;
				height: 80%;
				width: 99.5%;
				min-height: 300px;
				min-width: 1024px;
			}
				/* ENCABEZADO DE LA PAGINA */	
				#encabezado{
					position:absolute;
					min-height: 300px;
					min-width: 300px;
					float: left;
					height:95%;
					width:20%;
				}
					/* BOTONES DE DESPLAZAMIENTO */
					#botones{
						position: absolute;
						top:2%;
						left:0%;
						min-width: 150px;	
						width:100%;
						overflow:hidden;
						list-style-type:none;
						text-align:center;						
						font-weight:bold;
						font-size:100%;
						font-family:"Times New Roman";
					}
					#botones li{
						margin-left:10%;
						margin-top:7.5%;
						width:80%;
						height:20%;
						text-align:center;
					}
					#botones li a:link,a:visited{
						display:block;
						height:30%;
						width:100%;
						padding-top: 10%;
						text-decoration:none;
						text-transform:uppercase;
						text-align:center;
						color:#FFFFFF;
						background-image:url('Fondo5.jpg');/*Firefox*/	
						border: 3px groove #FFCCFF;
						border-radius:15%;
					}
					#botones li a:hover,a:active{
						cursor:pointer;
						text-align:center;
						background-image:-moz-linear-gradient(top, #190714, #3B0B2E);/*Firefox*/
						background-image:-webkit-linear-gradient(#3B0B2E, #190714);  /*Chrome y Safari*/
					}
				/* CONTENIDO DE LA PAGINA */	
				/* SECCION INDEX */
				#contenidoindex{
					position:absolute;
					float: right;
					min-height: 300px;
					right:1%;
					top:10%;
					height:80%;
					width:75%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}
					#textoindex{
						position:absolute;
						top:5%;
						right:3%;
						left:12%;
						font-weight:bold;
					    font-size:200%;
					}	
					#imgindex{
						position: absolute;
						top: 28%;
						left:17%;
						height: 70%;
						width: 70%;					
					}
					#imgindex2{
						position: absolute;
						top: 31%;
						left:61%;
						height: 68%;
						width: 40%;			
					}
				/* SECCION QUIENES SOMOS */
				#contenidoQS{
					position:absolute;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:80%;
					right:0%;
					top:5%;
					width:75%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}
					#textquien{
						position: absolute;
						bottom:40%;
						right:2%;
						margin-right:5%;
						height: 50%;
						width: 30%;
						font-size:100%;
					}
					#imgquien{
						position: absolute;
						top:15%;
						left: 6%;
						height: 65%;
						width: 55%;
					}
				/* SECCION REGISTRAME */
				#contenidoreg{
					position:relative;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:93%;
					width:79%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;	
				}
					#textoreg{
						position:absolute;
						top:0%;
						right:3%;
						left:17%;
						font-weight:bold;
					    font-size:200%;
					}	
					#registro  {
						position: absolute;
						width: 50%;
						top:13%;
						left:13%;
						right:20%;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #FFFFFF;
					}
					#RegBoton{
						cursor: pointer;
					}
					.Reginput{
						margin:1.2%;
					}
				/* SECCION CONTACTO */
				#contenidocontac{
					position:relative;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:93%;
					width:79%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}
					#textcontacto  {
						position: absolute;
						width: 70%;
						top:12%;
						left:10%;
						right:20%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					.contacto{
						margin:0.5%;
					}					
				/* SECCION CATALOGO */
					#imgbusqueda{
						position:absolute;
						float: right;
						top:35%;
						right:0.1%;
						height: 60%;
						width: 55%;
					}
					#listlibros{
						position:absolute;
						bottom:-50%;
						left:5%;
						height:90%;
						width:90%;					
						overflow: auto;
					}
					#listlibros table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
				/* CATALOGO COMO USUARIO NO REGISTRADO */
				#ContCatNoReg{
					position:absolute;
					overflow:auto;
					min-height: 300px;
					min-width: 75%;
					float: right;
					top:0%;
					right:0%;
					height:90%;
					width:75%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}
					#PaginasPedbusNO{
						position:absolute;
						top:90%;
						left:2%;
						height:5%;
						width:62%;		
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						overflow: auto;
					}
					#PaginasPedbusNO li {
						display:inline;
						padding-right: 1%;
					}
					#PaginasPedbusNO a:link,a:visited{
						height:30%;
						width:100%;
						color:#FFFFFF;
						text-decoration:none;
					}
					#PaginasPedbusNO a:hover,a:active{
						cursor:pointer;
						text-transform:uppercase;
						color: #FFFFFF;
					}	
					#busquedarapNO{
						position: absolute;
						top:0%;
						left:2%;	
						width:50%;
						z-index:4;
					}
					#TabCatNoReg{
						position:absolute;
						top:8%;
						left:3%;
						height:92%;
						width:60%;
						overflow: auto;
					}
					#TabCatNoReg table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TabCatNoReg table td,th{
						border: 3px groove #190714;
					}	
					#BusISCatNoReg{
						position: absolute;
						overflow:auto;
						top:5%;
						left:70%;
						width:25%;
						height:35%;
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						z-index:4;
					}
					#BusISCatNoReg label{
						margin:0.5%;
						color: white;
						font-weight:bold;
					}
					#BusISCatNoRegBot{
						cursor:pointer;
					}
					#BusISCatNoReg select{
						cursor:pointer;
					}
					#BusCatNoReg{
						position: absolute;
						overflow:auto;
						top:13%;
						left:70%;
						width:25%;
						height:28%;
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						z-index:4;
					}
					#BusCatNoReg label{
						margin:0.5%;
						color: white;
						font-weight:bold;
					}
					#BusCatNoReg select{
						cursor:pointer;
					}
					#BusCatNoRegBot{
						position:absolute;
						bottom:10%;	
						left:26%;
						width:45%;
						cursor:pointer;
					}
					#OrdCatNoReg{
						position: absolute;
						top:0%;
						left:43%;
						width:40%;
						z-index:4;
					}
					#OrdCatNoReg select{
						cursor:pointer;
					}
					#OrdCatNoRegBot{
						cursor:pointer;
					}
					#FilCatNoReg{
						position: absolute;
						overflow:auto;
						min-height:0%;
						min-width:0%;
						top:55%;
						left:70%;						
						height:35%;
						width:25%;
						text-align:left;
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						z-index:4;
					}
					#FilCatNoReg label{
						margin:0.5%;
						color: white;
						font-weight:bold;
					}
					#FilCatNoReg select{
						cursor:pointer;
					}
					#FilCatNoRegBot{
						position:absolute;
						top:77%;	
						left:7%;
						width:50%;
						cursor:pointer;
					}		
				/* CATALOGO COMO USUARIO REGISTRADO */
				#ContCatReg{
					position:relative;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:98%;
					width:79%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}							
					#PaginasPedbus{
						position:absolute;
						top:92%;
						left:7%;
						height:5%;
						width:62%;		
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						overflow: auto;
					}
					#PaginasPedbus li {
						display:inline;
						padding-right: 1%;
					}
					#PaginasPedbus a:link,a:visited{
						height:30%;
						width:100%;
						color:#FFFFFF;
						text-decoration:none;
					}
					#PaginasPedbus a:hover,a:active{
						cursor:pointer;
						text-transform:uppercase;
						color: #FFFFFF;
					}	
					#TabCatReg{
						position:absolute;
						top:7%;
						left:8%;
						height:85%;
						width:60%;					
						overflow: auto;
					}	
					#TabCatReg table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TabCatReg table td,th{
						border: 3px groove #190714;
					}	
					#OrdCatReg{
						position: absolute;
						top:0%;
						left:44%;	
						width:50%;
						z-index:4;
					}
					#busquedarap{
						position: absolute;
						top:0%;
						left:5%;	
						width:50%;
						z-index:4;
					}
					#FilLab samp{
						position: absolute;					
						top:50%;
						left:70%;
						font-weight:bold;
						font-size:normal;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#FilCatReg{
						position: absolute;
						top:54%;
						left:70%;
						width:28%;
						height:45%;
						overflow:auto;
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;						
						font-size:85%;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}	
					#FilCatReg label{
						margin:0.5%;
						color: white;
						font-weight:bold;
					}
					#FilCatRegBot{
						position:relative;							
						left:20%;
						width:45%;
					}
					#BusLab samp{
						position: absolute;					
						top:0%;
						left:70%;
						font-weight:bold;
						font-size:normal;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#BusISCatReg{
						position: absolute;
						overflow:auto;
						top:4%;
						left:70%;
						right:55%;
						height:45%;
						width:28%;
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						z-index:4;
					}
					#BusISCatReg label{
						margin:0.5%;
						color: white;
						background-size:contain;						
						font-size:85%;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#BusCatReg{
						position: absolute;
						overflow:auto;
						top:11%;
						left:70%;
						width:28%;
						height:38%;
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						z-index:4;
					}
					#BusCatReg label{
						margin:0.5%;
						color: white;
						background-size:contain;						
						font-size:85%;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#BusCatRegBot{
						position:absolute;
						top:85%;	
						left:75%;
						width:20%;
					}
					#Caracteristicas{
						position: absolute;
						left: 1%;
						top:40%;
						height:57%;
						width:70%;
						overflow: auto;
						border: 1px dashed #FFFFFF;
						background-size:contain;						
						font-size:85%;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#Caracteristicas input{
						margin:1%;
					}
				/* SECCION ADMINISTRAR */
				#contenidoadm{
					position:relative;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:93%;
					width:79%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}	
					#AdminIndice{
						position: absolute;
						top:10%;
						right:5%;
						height:45%;
						width:40%;
						overflow: auto;
					}
					#barrabusquedaABM{
					position: absolute;
					left:10%;
					top:10%;
					width:40%;
					cursor:pointer;
					}
					#BusRapBotABM{
						cursor:pointer;
					}
					#textoadm{
						position:absolute;
						top:5%;
						right:3%;
						left:12%;
						font-weight:bold;
					    font-size:200%;
					}						
					.FAbm label, input, select{
						margin:0.3%;
						padding: 0.2%;
					}					
					#ABMDiv{
						position: absolute;
						overflow:auto;
						Top: 10%;
						left:15%;
						width: 64%;
						height: 77%;
						padding:1%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					#ABMAlta{
						position: absolute;
						overflow:auto;
						Top: 10%;
						left:10%;
						width: 35%;
						height: 37%;
						padding:1%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					#ABMBaja{
						position: absolute;
						overflow:auto;
						Top: 55%;
						left:10%;
						width: 35%;
						height: 37%;
						padding:1%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					#ABMMod{
						position: absolute;
						overflow:auto;
						Top: 30%;
						left:50%;
						width: 37%;
						height: 37%;
						padding:1%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					#AdminEtiq{
						height:20%;
						width:90%;
						overflow: auto;
						border: 1px dashed #FFFFFF;
					}
					/* ADMINISTRAR LIBROS */
					#TablaLibros{
						position:absolute;
						top:17%;
						left:8%;
						height:70%;
						width:90%;		
						overflow: auto;
					}
					#TablaLibros table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TablaLibros table td,th{
						border: 3px groove #190714;
					}
					#TablaTopLibros{
						position:absolute;
						top:40%;
						left:3%;
						height:50%;
						width:95%;		
						overflow: auto;
					}
					#TablaTopLibros table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TablaTopLibros table td,th{
						border: 3px groove #190714;
					}
					/* ADMINISTRAR USUARIOS */
					#TablaUser{
						position:absolute;
						top:15%;
						left:8%;
						height:70%;
						width:90%;		
						overflow: auto;
					}
					#TablaUser table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TablaUser table td,th{
						border: 3px groove #190714;
					}
					#TablaUserPeriodo{
						position:absolute;
						top:40%;
						left:3%;
						height:50%;
						width:90%;		
						overflow: auto;
					}
					#TablaUserPeriodo table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TablaUserPeriodo table td,th{
						border: 3px groove #190714;
					}
					/* ADMINISTRAR PEDIDOS */
					#textoadmped{
						position:absolute;
						top:0%;
						right:3%;
						left:8%;
						font-weight:bold;
					    font-size:200%;
					}
					#TablaPedido{
						position:absolute;
						top:15%;
						left:10%;
						height:70%;
						width:85%;		
						overflow: auto;
					}
					#TablaPedido table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TablaPedido table td,th{
						border: 3px groove #190714;
					}	
					#PaginasPed{
						position:absolute;
						top:88%;
						left:10%;
						height:5%;
						width:85%;		
						border: 3px groove #FFFFFF;
						background-image:url('Fondo9.jpg');
						overflow: auto;
					}
					#PaginasPed li {
						display:inline;
						padding-right: 1%;
					}
					#PaginasPed a:link,a:visited{
						height:30%;
						width:100%;
						color:#FFFFFF;
						text-decoration:none;
					}
					#PaginasPed a:hover,a:active{
						cursor:pointer;
						text-transform:uppercase;
						color: #FFFFFF;
					}	
				/* SECCION CUENTA */
				#contenidoperfil{
					position:relative;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:93%;
					width:79%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}
					#textoperfil{
						position:absolute;
						top:0%;
						right:3%;
						left:12%;
						font-weight:bold;
					    font-size:200%;
					}	
					/* DATOS PERSONALES USUARIOS */
					#FRegPerfilPersonal {
						position: absolute;
						top: 46%;
						left: 10%;
						width: 45%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					#FRegPerfilClave {
						position: absolute;
						top: 13%;
						left: 10%;
						width: 45%;
						border: 3px double #FFFFFF;
						background-image:url('Fondo9.jpg');
						background-size:contain;
					}
					/* PEDIDOS DE USUARIOS*/
					#PedidosUsuario{
						position:absolute;
						top:15%;
						left:10%;
						height:70%;
						width:85%;		
						overflow: auto;
					}
					#PedidosUsuario table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#PedidosUsuario table td,th{
						border: 3px groove #190714;
					}
				/* CARRITO DE COMPRAS */
				#contenidocarrito{
					position:relative;
					overflow:auto;
					min-height: 300px;
					float: right;
					height:93%;
					width:79%;
					text-align:justify;
					font-weight:bold;
					font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: white;
				}		
					#textocarrito{
						position:absolute;
						top:0%;
						right:3%;
						left:12%;
						font-weight:bold;
					    font-size:200%;
					}	
					#TablaCarrito{
						position:absolute;
						top:15%;
						left:10%;
						height:70%;
						width:85%;		
						overflow: auto;
					}
					#TablaCarrito table{
						position:absolute;
						float:right;
						width:100%;
						color: white;
						background-image:url('Fondo9.jpg');
						background-size:contain;
						border: 3px groove #190714;
						overflow: auto;
					}
					#TablaCarrito table td,th{
						border: 3px groove #190714;
					}	
					#carritobot1{
						position:absolute;
						top:7%;
						right:15%;
						width:10%;
					}
					#carritobot2{
						position:absolute;
						top:7%;
						right:3%;
						width:10%;
					}				
			/* PIE DE LA PAGINA */
			#pie{
				position: absolute;
				z-index:4;
				background-image:url('Fondo1.jpg');
				min-height: 40px;
				min-width: 1024px;
				bottom:0%;
				height: 6%;
				width: 100%;
				font-weight:bold;
				text-align:center;
				Font-size:normal;
				font-family:Georgia,"Times New Roman",Serif;
				color:white;
			}