		*{
			margin: 0;
			padding: 0;
			min-height:5%;
			min-width:5%;
		}
			body{
				background-image:url('Fondo1.jpg');
				background-size:cover;
				background-repeat:repeat;
				background-attachment:fixed;
				overflow:auto;
				min-height:400px;
				min-width: 1024px;
			}
				#cabecera{
					background-image:url('Fondo4.jpg');
					background-size:cover;
					background-repeat:repeat;
					background-attachment:fixed;
					position: absolute;
					z-index:4;
					left: 0.1%;
					height: 12.5%;
					width: 99.5%;
					min-height:50px;
					min-width: 1024px;
					overflow:hidden;
					border: 3px groove #FFCCFF;
					border-width:3px;
					Font-size:normal;
					font-family:Georgia,"Times New Roman",Serif;
					color: #610B38;
				}
				#barrabusqueda{
					position: absolute;
					left:30%;
					top:25%;
				}
				#sesiones{
					position: absolute;
					top:15%;
					right:5%;			
					overflow:hidden;
					list-style-type:none;
					text-align:center;						
					font-weight:bold;
					font-size:100%;	
				}
				#Bsesiones{
					list-style-type:none;
					text-align:center;						
					font-weight:bold;
					font-size:100%;	
				}
				#sesiones li a:link,a:visited{
					display:block;
					height:30%;
					width:100%;
					padding-top: 10%;
					text-decoration:none;
				}
				#sesiones li a:hover,a:active{
					cursor:pointer;
					text-transform:uppercase;
					color: #2A0A1B;
				}
					#imglogo{
						position:absolute;
						bottom:115%;
						height: 50%;
						width: 30%;
					}
				#cuerpo{
					position: absolute;
					z-index:4;
					top:14%;
					height: 80%;
					width: 99.5%;
					min-height: 300px;
					min-width: 1024px;
				}
					#encabezado{
						position:absolute;
						min-height: 300px;
						min-width: 1024px;
						float: left;
						height:95%;
						width:20%;
					}
						#botones{
							position: absolute;
							top:2%;
							left:0%;
							min-width: 300px;	
							width:65%;
							overflow:hidden;
							list-style-type:none;
							text-align:center;						
							font-weight:bold;
							font-size:100%;
							font-family:"Times New Roman";
						}
						#botones li{
								margin-left:10%;
								margin-top:7.5%;
								width:40%;
								height:20%;
						}
						#botones li a:link,a:visited{
									display:block;
									height:30%;
									width:100%;
									padding-top: 10%;
									text-decoration:none;
									text-transform:uppercase;
									color:#FFFFFF;
									background-image:url('Fondo5.jpg');/*Firefox*/	
									border: 3px groove #FFCCFF;
									border-radius:15%;
								}
						#botones li a:hover,a:active{
									cursor:pointer;
									background-image:-moz-linear-gradient(top, #190714, #3B0B2E);/*Firefox*/
									background-image:-webkit-linear-gradient(#3B0B2E, #190714);  /*Chrome y Safari*/
								}
					#contenido{
						position:relative;
						overflow:auto;
						min-height: 300px;
						float: right;
						height:95%;
						width:79%;
						text-align:justify;
						font-weight:bold;
						font-size:normal;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#contenido2{
						position:relative;
						overflow:auto;
						min-height: 300px;
						float: right;
						top:15%;
						height:75%;
						width:77%;
						text-align:justify;
						font-weight:bold;
						font-size:normal;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#contenidoindex{
						position:absolute;
						float: right;
						min-height: 300px;
						right:1%;
						top:10%;
						height:80%;
						width:75%;
						text-align:justify;
						font-weight:bold;
						font-size:normal;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					#contenidoQS{
						position:absolute;
						overflow:auto;
						min-height: 300px;
						float: right;
						height:80%;
						right:0%;
						top:7%;
						width:75%;
						text-align:justify;
						font-weight:bold;
						font-size:normal;
						font-family:Georgia,"Times New Roman",Serif;
						color: white;
					}
					/*Para cada una de las paginas varia*/	
						/*INDEX*/
						#textoindex{
							position:absolute;
							top:5%;
							right:3%;
							left:12%;
							font-weight:bold;
						    font-size:200%;
						}	
						#imgindex{
							position: absolute;
							top: 28%;
							left:17%;
							height: 70%;
							width: 70%;					
						}
						#imgindex2{
							position: absolute;
							top: 31%;
							left:61%;
							height: 68%;
							width: 40%;			
						}
						/*BUSQUEDA*/
						#imgbusqueda{
							position:absolute;
							float: right;
							top:35%;
							right:0.1%;
							height: 60%;
							width: 55%;
						}
						#listlibros{
							position:absolute;
							bottom:-35%;
							left:2.5%;
							height:90%;
							width:90%;					
							overflow: auto;
						}
						#listlibros table{
							position:absolute;
							float:right;
							width:100%;
							color: white;
							background-image:url('Fondo2.gif');
							border: 3px groove #190714;
							overflow: auto;
						}
						#listautos table td,th{
							border: 3px groove #190714;
						}
						#ordenamiento{
							position: absolute;
							top:40%;
							left:3%;
							
						}
						#filtros{
							position: absolute;
							top:1%;
							left:46%;
							right:1%;
							height:35%;
							border: 3px groove #FFFFFF;
						}
						#filtros label{
							margin:0.5%;
							color: white;
							font-weight:bold;
						}
						#filtrobot{
							position:absolute;	
							top:85%;	
							right:1%;
						}
						#buscar{
							position: absolute;
							top:1%;
							left:3%;
							right:55%;
							height:35%;
							border: 3px groove #FFFFFF;
						}
						#buscar label{
							margin:0.5%;
							color: white;
							font-weight:bold;
						}
						#buscrobot{
							position:absolute;
							top:85%;	
							right:1%;
						}
						#listlibros2{
							position:absolute;
							top:45%;
							left:2.5%;
							height:42%;
							width:90%;
							overflow: auto;
						}
						#listlibros2 table{
							position:absolute;
							float:right;
							width:100%;
							color: white;
							background-image:url('Fondo2.gif');
							border: 3px groove #190714;
							overflow: auto;
						}
						#listautos2 table td,th{
							border: 3px groove #190714;
						}
						#ordenamiento2{
							position: absolute;
							top:40%;
							left:3%;
							z-index:4;
						}
						#filtros2{
							position: absolute;
							top:1%;
							left:46%;
							right:1%;
							height:35%;
							border: 3px groove #FFFFFF;
							z-index:4;
						}
						#filtros2 label{
							margin:0.5%;
							color: white;
							font-weight:bold;
						}
						#filtrobot2{
							position:absolute;	
							top:85%;	
							right:1%;
						}
						#buscar2{
							position: absolute;
							top:1%;
							left:3%;
							right:55%;
							height:35%;
							border: 3px groove #FFFFFF;
							z-index:4;
						}
						#buscar2 label{
							margin:0.5%;
							color: white;
							font-weight:bold;
						}
						#buscrobot2{
							position:absolute;
							top:85%;	
							right:1%;
						}
						#Caracteristicas{
							position: absolute;
							left: 1%;
							top:40%;
							height:57%;
							width:70%;
							overflow: auto;
							border: 1px dashed #FFFFFF;
						}
						#Caracteristicas input{
							margin:1%;
						}
						/*QUIENES SOMOS*/
						#textquien{
							position: absolute;
							bottom:40%;
							right:2%;
							margin-right:5%;
							height: 50%;
							width: 30%;
							font-size:100%;
						}
						#imgquien{
							position: absolute;
							top:15%;
							left: 6%;
							height: 65%;
							width: 55%;
						}
						/*CONTACTO*/
						#textcontacto  {
							position: absolute;
							width: 70%;
							top:12%;
							left:20%;
							right:20%;
						}
						.contacto{
							margin:1.2%;
						}
						/*REGISTRARME*/
						#textoreg{
							position:absolute;
							top:5%;
							right:3%;
							left:17%;
							font-weight:bold;
						    font-size:200%;
						}	
						#registro  {
							position: absolute;
							width: 70%;
							top:20%;
							left:20%;
							right:20%;
						}
						.Reginput{
							margin:1.2%;
						}
				/*ADMINISTRAR*/
				#Admfunciones{
					position: absolute;
					left:10%;
				}
				#Admfunciones li {
					display:inline;
					border: 3px groove #FFFFFF;
				}
				#Admfunciones a:link,a:visited{
					height:30%;
					width:100%;
					padding-right: 70%;
					text-decoration:none;
				}
				#Admfunciones a:hover,a:active{
					cursor:pointer;
					text-transform:uppercase;
					color: #FFFFFF;
				}		
				#AltaLibro{
					position: absolute;
					Top: 10%;
					left:15%;
					width: 50%;
					height: 50%;
					padding:1%;
					border: 3px double #FFFFFF;
				}
				#AdminEtiq{
					height:20%;
					width:90%;
					overflow: auto;
					border: 1px dashed #FFFFFF;
				}
				.FLib label, input, select{
					margin:0.3%;
					padding: 0.2%;
				}
				/*CUENTA*/		
				#FRegPerfil {
					position: absolute;
					top: 45%;
					left: 10%;
					width: 30%;
				}
				#FRegPerfil2 {
					position: absolute;
					top: 15%;
					left: 10%;
					width: 30%;
				}
				#tablapedidos{
					position:absolute;
					top:15%;
					left:10%;
					height:70%;
					width:70%;		
					overflow: auto;
				}
				#tablapedidos table{
					position:absolute;
					float:right;
					width:100%;
					color: white;
					background-image:url('Fondo2.gif');
					border: 3px groove #190714;
					overflow: auto;
				}
				#tablapedidos table td,th{
					border: 3px groove #190714;
				}
			#pie{
				position: absolute;
				z-index:4;
				background-image:url('Fondo1.jpg');
				min-height: 40px;
				min-width: 1024px;
				bottom:0%;
				height: 6%;
				width: 100%;
				font-weight:bold;
				text-align:center;
				Font-size:normal;
				font-family:Georgia,"Times New Roman",Serif;
				color:white;
			}